body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#head1{
  line-height: 500px;
  text-align: center;
   vertical-align: middle;
}

#about{
  background-color: #dddd; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#about:hover{
background-color: silver;
color: white;
}

#mytext{

  background-image: url("valencia.png");
  height: 100%;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
  margin: 0;
    padding: 1px;
}

#codes{
  background-image: url("code.jpg");
  height: auto;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
  margin: 0;
    padding: 1px;
  color:  #FF8C00;
}

#me{
  background-image: url("about.jpg");
  height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  margin: 0;
  padding: 1px;
}

#me p {
  font-size: 24px;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-size: 24px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active {
  background-color: #4CAF50;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

h2 a {
  color: blue;

}


.myheader {
  margin: 0;
  padding-bottom: 0;
  position: fixed;

}

.desc{
  font-size: 20px;
}

.slides{
   display: none;

}

.container{
  padding-left: 22%;

  width: auto;


}

.num{
  font-size: 24px;
}

.sbutton{
    font-size: 16px;
}

.caption{
    font-size: 16px;
}

td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td{
  text-align: center;
vertical-align: middle;
font-size: 60px;
}

.cards{
border: 1px solid black;
      }

#hearts{
  background-image: url("heart.png");
  background-size: 50%;
  background-repeat: no-repeat;
        }

#spades{
  background-image: url("spade.png");
    background-size: 50%;
    background-repeat: no-repeat;
        }

#diamonds{
  background-image: url("diamond.png");
    background-size: 50%;
    background-repeat: no-repeat;
          }

#clubs{
  background-image: url("club.png");
    background-size: 50%;
    background-repeat: no-repeat;
      }

#hit,#stand{
  display: none;
}

#invader{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

h2{
  text-align: center;
}

img{
  width: 75%;
  height: 75%;
}
